{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ 'css/site/restricted_area.css'|theme_asset }}">
{% endblock %}

{% block content %}
<main class="restricted-area-page">
{% if current_user.is_authenticated %}
<div class="content-restricted">
    <img src="{{ url_for('static', filename='newstyle/sharewarez_gamer.png') }}" alt="ShareWareZ Logo" class="login-logo">

    <div class="content-restricted-textblock">
        <p>{{ current_user.name }}, welcome to ShareWareZ!</p>
        <p>
        Step into a vast gaming universe where endless adventures await at every turn. 
        Here, you can easily browse through extensive libraries packed with the best games, each complete with screenshots and detailed descriptions.
        </p><p>
        Find exactly what you're looking for with our powerful search tools and filters, discovering games that match your style.
        Every game is thoroughly tested and ready to play on your system. Join our gaming community and level up your gaming experience!
        </p>
    </div>
    {% else %}
    <div class="content-restricted">
        <img src="{{ url_for('static', filename='newstyle/sharewarez_gamer.png') }}" alt="ShareWareZ Logo" class="login-logo">
        <div class="content-restricted-textblock">
        <p>Welcome to ShareWareZ!</p>
        <p>Please login or register.</p>
    </div>
</div>

    <h1></h1>

    <div class="container-login">
        <div class="content-login">
            <div class="container-content">
                <form action="/login" method="post">
                    <label for="username" class="label-large-text">Username</label>
                    <input type="text" class="input-glass" id="username" name="username" autocomplete="username">
                    <label for="password" class="label-large-text">Password</label>
                    <input type="password" class="input-glass" id="password" name="password" autocomplete="current-password">
                    <div class="container-buttons-login">
                        <input type="submit" value="Login" class="btn btn-primary button-login">
                        <a href="/register" class="btn btn-primary button-login">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</main>

{% endblock %}
