{% extends "base.html" %}
{% block content %}

<div class="container-login">
    <div class="content-login">
        <img src="{{ url_for('static', filename=brand_logo_path) }}" alt="{{ site_title }} logo" class="login-logo">
        <h2>Link Expired</h2>
        <p>The confirmation link is invalid or has expired. Please request a new activation link.</p>
        <div class="container-buttons-login">
            <a href="{{ url_for('login.reset_password_request') }}" class="btn btn-primary button-login">Request New Link</a>
            <a href="{{ url_for('login.login') }}" class="btn btn-primary button-login">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %}
