{% extends "base.html" %}
{% block content %}

<div class="container-login">
    <div class="content-login">
        <div class="container-base">
            <div class="container">
                <img src="{{ url_for('static', filename=brand_logo_path) }}" alt="{{ site_title }} logo" class="login-logo">
            </div>
        </div>
        
        <h2 style="text-align: center; margin-top: 5px;">Register now!</h2>
        <p style="text-align: center; font-size: 14px; opacity: 0.8; margin-bottom: 20px;">
            (You can only register if your email has been whitelisted)
        </p>

        <div class="container-content">
            <form action="{{ url_for('login.register', token=request.args.get('token')) }}" method="post">
                {{ form.csrf_token }}
                
                <label for="username" class="label-large-text">Username</label><br>
                {{ form.username(class_="input-glass", placeholder="Username") }}<br>
                
                <label for="email" class="label-large-text">Email</label><br>
                {{ form.email(class_="input-glass", placeholder="Email") }}<br>
                
                <label for="password" class="label-large-text">Password</label><br>
                {{ form.password(class_="input-glass", placeholder="Password") }}<br>
                
                <div class="container-buttons-login">
                    <input type="submit" value="Register" class="btn btn-primary button-login">
                    <a href="/login" class="btn btn-primary button-login">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
